{% extends 'Layouts/base.html.twig' %}

{% block title %}Stardust
{% endblock %}

{% block body %}

	<div class="nav-hero">
		{% include "layouts/navbar.html.twig" %}
		{% include "layouts/hero.html.twig" %}
	</div>
	{% include "layouts/properties.html.twig" %}
	{% include "layouts/contact.html.twig" %}
	{% include "layouts/footer.html.twig" %}


{% endblock %}
