<div class="container-fluid contact-container"> 
        <h1>STARDUST</h1>
        <div class="contact-cards">
            <div class="row ">
                <div class="col-sm-4">
                  <div class="card card-custom-contact ">
                    <div class="card-body card-body-custom-contact">
                        <span><i class="fa-solid fa-location-dot ic1-contact"></i></span>
                      <h5 class="card-title c-title-contact">ADDRESS</h5>
                      <p class="card-text ct-costom-contact">With supporting text below as a natural lead-in to additional content.</p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="card card-custom-contact ">
                    <div class="card-body card-body-custom-contact">
                        <span><i class="fa-solid fa-envelope ic2-contact"></i></span>
                      <h5 class="card-title c-title-contact">E-MAIL ADRES</h5>
                      <p class="card-text ct-costom-contact">With supporting text below as a natural lead-in to additional content.</p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="card card-custom-contact ">
                    <div class="card-body card-body-custom-contact">
                        <span><i class="fa-solid fa-phone ic3-contact"></i></span>
                      <h5 class="card-title c-title-contact">PHONE</h5>
                      <p class="card-text ct-costom-contact">With supporting text below as a natural lead-in to additional content.</p>
                    </div>
                  </div>
                </div>
            </div>
        </div>
</div>