 <footer>
  
    <span>2022  © Stardust</span>
    
    <ul class="footer-nav-1">
        <li class=" ">
          <a class="  " aria-current="page" href="#">Home</a>
        </li>
        <li class=" ">
          <a class=" " href="#">About</a>
        </li>
        <li class=" ">
          <a class=" " href="#">Register</a>
        </li>
        <li class=" ">
          <a class="  " href="#" >Contact</a>
        </li>
      </ul>

      <ul class="footer-nav-2">
        <li class=" ">
          <a class="  " aria-current="page" href="#"><i class="fa-brands fa-facebook-f"></i></a>
        </li>
        <li class=" ">
          <a class=" " href="#"><i class="fa-brands fa-linkedin"></i></a>
        </li>
        <li class=" ">
          <a class=" " href="#"><i class="fa-brands fa-instagram"></i></a>
        </li>
        <li class=" ">
          <a class="  " href="#" ><i class="fa-brands fa-twitter"></i></a>
        </li>
      </ul>

      
</footer>