
<div class="hero_container">
    <div class="color-effect"></div>
    <div class="color-effect-2"></div>
    <div class="hero_content">
        <span>Welkom bij</span>
        <span>Stardust</span>
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. <br>
            Alias, exercitationem!</p>
        <a href="{{path('rooms')}}" class="btn btn-light">Exolore →</a>
     </div>
    
</div>