<div class="container properties-container">
    <div class="wrapper-card">
        <h1>PROPERTIES</h1>
        <div class="row">
            <div class="col-sm-4">
              <div class="card card-custom ">
                <div class="card-body card-body-custom">
                    <span><i class="fa-solid fa-bell ic1"></i></span>
                  <h5 class="card-title c-title-1">LUXURY ROOMS</h5>
                  <p class="card-text ct-costom">With supporting text below as a natural lead-in to additional content.</p>
                  <a href="#" class="card-btn cb-1">More</a>
                </div>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="card card-custom">
                <div class="card-body card-body-custom">
                    <span><i class="fa-solid fa-mountain-sun ic2"></i></span>
                  <h5 class="card-title c-title-2">GREAT SERVICES</h5>
                  <p class="card-text ct-costom">With supporting text below as a natural lead-in to additional content.</p>
                  <a href="#" class="card-btn cb-2">More</a>
                </div>
              </div>
            </div>

            <div class="col-sm-4">
              <di class="card card-custom">
                <div class="card-body card-body-custom">
                    <span><i class="fa-solid fa-couch ic3"></i></span>
                  <h5 class="card-title c-title-3">PERFECT VIEW</h5>
                  <p class="card-text ct-costom">With supporting text below as a natural lead-in to additional content.</p>
                  <a href="#" class="card-btn cb-3 ">More</a>
                </div>
              </di>
            </div>

          </div>



    </div>
</div>