{% extends 'Layouts/base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}

	<div class="nav-hero">
		{% include "layouts/navbar.html.twig" %}

	</div>
   
    <div class="row my-4">
        <div class="col-md-8 mx-auto">
            <div class="card">
                <div class="card-header">
                    Create new room
                </div>
                <div class="card-body">
                    {{form(form)}}

                </div>
            </div>
        </div>
    </div>
	
	{# {% include "layouts/footer.html.twig" %} #}


{% endblock %}
