.navbar-custom{
    background-color: #012a30;
    position: fixed;

     
}
.btn-custom {
    background: red;
    color: white;
    font-size: 40px;
}
.collapse .navbar-collapse{
    margin-left: 70px;
}
